body {
    /* Background pattern from Toptal Subtle Patterns */
    background: url("img/background.png");
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    margin-top: 25px;
    min-height: 450px;
}

header h1 {
    text-align: center;
    font-size: 42px;
    background-color: #224b69;
    color: #FFFFFF;
    padding: 20px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 15px;
    margin-top: 25px;
}

.left-content-home {
    width: 450px;
    padding: 25px;
    float: left;
    text-align: center;
    height: 400px;
}

.left-content-home .home-h2 {
    padding-top: 40px;
}

.right-content-home {
    width: 450px;
    padding: 25px;
    float: left;
    text-align: center;
    height: 400px;
}

.login-registration {
    width: 350px;
    margin: auto;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.panel-login-registration {
    list-style: none;
    overflow: auto;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    line-height: 300%;
}

.panel-login-registration li {
    float: left;
    width: 50%;
    height: 50px;
    display: block;
}

.panel-login {
    margin: 0;
    padding: 10px;
    background-color: #fff;
    height: 150px;
}

.panel-registration {
    margin: 0;
    padding: 10px;
    background-color: #fff;
    display: none;
    height: 150px;
}

.home-active-option {
    background-color: #fff;
}

.home-noactive-option {
    background-color: #ead76d;
    cursor: pointer;
}

.home-table-panel {
    text-align: center;
    margin: auto;
}

.home-table-first-col {
    width: 50px;
    padding: 0 5px;
    height: 40px;
}

.home-table-second-col {
    min-width: 190px;
    padding: 0 5px;
    height: 40px;
}

.row-panel-home {
    margin-top: 15px;
}

.row-panel-home button {
    width: 125px;
    border-radius: 10px;
    padding: 5px;
    background-color: #36b03c;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.row-panel-home button:hover {
    opacity: 1;
}

.form-control {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #efefef;
    color: #666;
    outline: none;
}

.form-control:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
	color: #428c42;
}

#top-nav {
    background-color: #4a4a4a;
    text-align: center;
}

.top-menu {
    overflow: auto;
    padding: 10px 0;
    list-style: none;
    margin: 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.top-menu li {
    color: #fff;
    display: inline-block;
    line-height: 200%;
}

.top-menu li:last-child {
    float: right;
}

.link-html {
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    min-height: 35px;
}

.top-menu li:hover .link-html {
    cursor: pointer;
    background-color: #393939;
    color: #4fe431;
    font-weight: 900;
}
.top-menu li:last-child:hover .link-html {
    color: #e02929;
}

.left-content-home img {
    padding-top: 50px;
}

.main-content h2 {
    text-align: center;
}

.form-expense {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.form-control2 {
    display: block;
}

.div-row {
    margin-top: 20px;
}

.btn-submit {
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    background-color: #36b03c;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.btn-reset {
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    background-color: #c82a2a;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.btn-submit:hover,
.btn-reset:hover {
    opacity: 1;
}

.div-row label {
    margin-right: 5px;
}

.form-control-white {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    color: #666;
    outline: none;
}

.form-control-white:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}